.wrapper {
  padding: 35px 24px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 64px 39px;
    max-width: 1111px;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav {
    align-items: end;
  }
}

.logo {
  height: 27px;
  width: 202px;
  background-image: url("src/assets/shared/desktop/logo-dark.png");
  background-size: 202px 27px;
}

.nav button {
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .nav button {
    display: none;
  }
}

.menu {
  display: none;

  margin-bottom: 3px;
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(var(--black));
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 42px;
  }
}

.menu li {
  cursor: pointer;
}

.menu li:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}
